{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'url/index.js' %}"></script>
    <title>FuzzyURLs</title>
</head>
    <body>
        <h1>Welcome to FuzzyURLs!</h1>
        <div>
            <form action="{% url 'index' %}" method="get" id="mainform">
                {% csrf_token %}
                <input id="url" type="url" name="url" placeholder="Paste your URL here">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div id="short-url">
        </div>
        <div>
            {% for key , value in request.session.items %}
                <div>{{key}}   -    {{value}}</div>
            {% endfor %}
        </div>
    </body>
</html>